<!-- START FOOTER -->
<div class="container-fluid">
    <footer class="row">
        <div class="forcam-menu group">
            <div class="forcam col-md-6 col-sm-12">
                <div class="container-wraper">
                    <div id="footer-logo" class="iconp-forcam-logo"></div>
                    <p class="f-copy">&copy;2015 FORCAM GmbH, All rights reserved</p>
                    <p class="footer-text">
                        FORCAM ipsum dolor sit amet, consectetur adipisicing elit. Numquam unde et ratione a eos magni
                        incidunt placeat consectetur perspiciatis ipsa! Quasi rerum officiis velit, nisi nemo repellat
                        excepturi architecto inventore.
                    </p>
                </div>
            </div>
            <nav class="links-list col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="container-wraper">

                        <dl class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                            <dt><a href="#">Who we are</a></dt>
                            <dt><a href="#">What we do</a></dt>
                            <dt><a href="#">Resources</a></dt>
                            <dt><a href="#">Careers</a></dt>
                        </dl>
                        <dl class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                            <dt><a href="#">Worldwide</a></dt>
                            <dt><a href="#">Media</a></dt>
                            <dt><a href="#">FC Academy</a></dt>
                            <dt><a href="#">Contact us</a></dt>
                        </dl>
                        <dl class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                            <dt><a href="#">Disclaimer</a></dt>
                            <dt><a href="#">Imprint</a></dt>
                        </dl>

                        <ul class="social-list col-lg-6 col-md-8 col-sm-6 col-xs-12">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter-icon"></i></a></li>
                            <li><a href="#"><i class="icon-google"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="grad col-xs-12"></div>
    </footer>
</div>
<!-- END FOOTER -->
