<div class="container-fluid">
    <header class="row main-header">
        <div class="header-logo col-lg-2 col-md-2 col-sm-2 col-xs-5">
            <div class="row">
                <i class="iconp-forcam-logo"></i>

                <div class="logo-mobile"></div>
            </div>
        </div>
        <nav class="head col-lg-7 col-md-1">
            <div class="row">
                <ul class="header-menu wrapper">
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Worldwide</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">FC Academy</a></li>
                </ul>
            </div>
        </nav>
        <div class="action-buttons col-lg-3 col-md-3 col-sm-3 col-xs-6 group">
            <div class="row">
                <ul class="header-contact wrapper">
                    <li>
                        <a href="#">Contact</a>
                        <i class="icon-contact-icon"></i>
                        <i class="icon-language-icon"></i>
                    </li>
                </ul>
                <button class="mobile-menu">
                    <i class="icon-Hamburger"></i>
                    <i class="x-left icon-read-more"></i>
                    <i class="x-right icon-read-more"></i>
                </button>
                <div class="header-search">
                    <input type="text" placeholder="Search...">
                    <input type="submit">
                    <i class="icon-search-icon"></i>
                </div>
                <nav class="lang-menu wrapper">
                    <ul>
                        <li><a href="#">EN</a></li>
                        <li><a href="#">IT</a></li>
                        <li><a href="#">DE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="row grad"></div>

    <!-- DROPDOWN SECTION -->
    <div class="fc-dropdown">
        <dl>
            <dt><a href="#">Overview</a></dt>
            <dt><a href="#">Solution</a></dt>
            <dt><a href="#">Modules</a></dt>
            <dt><a href="#">Services</a></dt>
            <dt><a href="#">Forcam Academy</a></dt>
            <dt><a href="#">Cloud</a></dt>
        </dl>
    </div>
    <div class="dropdown-contact row">
        <div class="col-md-7">
            <dl class="germany">
                <h3>Germany</h3>
                <dt>FORCAM GmbH</dt>
                <dt>Ander Biecherej 15</dt>
                <dt>BB2214 Rawensburg</dt>
                <dt>P: +49 751 36669-0</dt>
                <dt>F: +49 751 36669-88</dt>
                <dt>E:info@forcam.de</dt>
            </dl>
            <dl class="germany">
                <h3>USA</h3>
                <dt>FORCAM GmbH</dt>
                <dt>Ander Biecherej 15</dt>
                <dt>BB2214 Rawensburg</dt>
                <dt>P: +49 751 36669-0</dt>
                <dt>F: +49 751 36669-88</dt>
                <dt>E:info@forcam.de</dt>
            </dl>
            <dl class="germany">
                <h3>United Kingdom</h3>
                <dt>FORCAM GmbH</dt>
                <dt>Ander Biecherej 15</dt>
                <dt>BB2214 Rawensburg</dt>
                <dt>P: +49 751 36669-0</dt>
                <dt>F: +49 751 36669-88</dt>
                <dt>E:info@forcam.de</dt>
            </dl>
            <br/>
            <dl class="germany">
                <h3>Asia</h3>
                <dt>FORCAM GmbH</dt>
                <dt>Ander Biecherej 15</dt>
                <dt>BB2214 Rawensburg</dt>
                <dt>P: +49 751 36669-0</dt>
                <dt>F: +49 751 36669-88</dt>
                <dt>E:info@forcam.de</dt>
            </dl>
            <dl class="germany">
                <h3>Poland</h3>
                <dt>FORCAM GmbH</dt>
                <dt>Ander Biecherej 15</dt>
                <dt>BB2214 Rawensburg</dt>
                <dt>P: +49 751 36669-0</dt>
                <dt>F: +49 751 36669-88</dt>
                <dt>E:info@forcam.de</dt>
            </dl>
        </div>
        <div class="webinar col-md-5">
            <!-- <svg width="0" height="0">
              <clipPath id="clipPolygon">
                <polygon points="200 250,409 250,405 52,301 51">
                </polygon>
              </clipPath>
            </svg> -->
            <div class="content-wrapper">
                <h2>Request an </br> Online Webinar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum delectus consectetur nulla eligendi
                    fuga autem vitae debitis quo inventore. Aperiam quis culpa officiis, ut itaque incidunt deserunt
                    aliquid atque totam!</p>
                <button class="glb-home-btn">GET STARTED NOW <i class="icon-find-out-more-icon"></i></button>
            </div>
        </div>
    </div>
    <!--START DROPDOWN-MOBILE-->
    <ul class="dropdown-mobile">
        <li><a href="#">Who we are</a><i class="icon-read-more"></i></li>
        <li><a href="#">What we do</a><i class="icon-read-more"></i></li>
        <li><a href="#">Resources</a><i class="icon-read-more"></i></li>
        <li><a href="#">Careers</a><i class="icon-read-more"></i></li>
        <li><a href="#">Worldwide</a><i class="icon-read-more"></i></li>
        <li><a href="#">Press</a><i class="icon-read-more"></i></li>
        <li><a href="#">FC Academy</a><i class="icon-read-more"></i></li>
        <li><a href="#">Contact</a><i class="icon-contact-icon"></i></li>
    </ul>
    <!--END DROPDOWN-MOBILE-->
</div>

<script>
    $(document).ready(function(){
        $('.header-menu li, .fc-dropdown').hover(function(){
            $('.fc-dropdown').stop().slideToggle(400);
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.mobile-menu, .dropdown-mobile').hover(function(){
            $('.dropdown-mobile').stop().slideToggle(400);
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.header-contact, .dropdown-contact, .icon-language-icon').hover(function(){
            $('.dropdown-contact').stop().slideToggle(400);
        });
    });
</script>

<!--<script>
$(function(){
    $(".main-header").sticky({topSpacing:0});
    $("#buttons").sticky({topSpacing:80});
});
</script>-->

<script>
    $('.main-header').addClass('original').clone().insertAfter('.main-header').removeClass("row").addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

    scrollIntervalID = setInterval(stickIt, 10);


    function stickIt() {

        var orgElementPos = $('.original').offset();
        orgElementTop = orgElementPos.top;

        if ($(window).scrollTop() >= (orgElementTop)) {
            // scrolled past the original position; now only show the cloned, sticky element.

            // Cloned element should always have same left position and width as original element.
            orgElement = $('.original');
            coordsOrgElement = orgElement.offset();
            leftOrgElement = coordsOrgElement.left;
            widthOrgElement = orgElement.css('width');
            $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
            $('.original').css('visibility','hidden');
        } else {
            // not scrolled past the menu; only show the original menu.
            $('.cloned').hide();
            $('.original').css('visibility','visible');
        }
    }
</script>