<div class="container-fluid wrap-header">
	<header class="row glb-header">
		<a href="/" class="logo"></a>
		<div class="additional">
			<div class="contact-block">
				<a href="#" class="contact">
					Contact<i class="icon-contact-icon"></i>
				</a>
				<div class="contact-info">
					<div class="list col-sm-7">
						<ul>
							<li>
								<h2>Germany</h2>
								<h3>FORCAM GmbH</h3>
								<p>An der Bleicherei 15<br>88214 Ravensburg</p>
								<p>P: +49 751 36669-0</p>
								<p>F: +49 751 36669-88</p>
								<p>E: info@forcam.de</p>
							</li>
							<li>
								<h2>USA</h2>
								<h3>FORCAM Inc.</h3>
								<p>250 E. Fifth Street, 15th Floor<br>Cincinnati, OH 45202, USA</p>
								<p>P: +1 (513) 878-2780</p>
								<p>E: info@forcam-usa.com</p>
							</li>
							<li>
								<h2>United Kingdom</h2>
								<h3>FORCAM Ltd</h3>
								<p>6.1 Verity Court, Pochin way<br>Middlewich, Cheshire<br>CW10 0GW, United Kingdom</p>
								<p>P: +44 (0)1606 833837</p>
								<p>E: info@forcam.co.uk</p>
							</li>
							<li>
								<h2>Asia</h2>
								<h3>FORCAM China</h3>
								<p>China Merchants Tower, S 2613 161,<br>East Lujiazui Road, Shanghai,<br>Pu Dong, 200120</p>
								<p>P: +86 21 6869 0126</p>
								<p>F: +86 21 6869 0054</p>
								<p>E: china@forcam.com</p>
							</li>
							<li>
								<h2>Poland</h2>
								<h3>FORCAM Poland</h3>
								<p>ul. Konecznego 6/66<br>31-216 Kraków<br>Poland</p>
								<p>P: +48 502 489 853</p>
								<p>E: info@forcam.com</p>
							</li>
						</ul>
					</div>
					<div class="add-info col-sm-5">
						<div class="background"></div>
						<div class="promo">
							<h2>Request an<br>Online Webinar</h2>
							<p>Discover how easy it is to implement and use an<br>industry-leading Shop Floor Management system<br>with the newest edition of FORCAM’s award-winning<br>technology FORCAM FORCE™</p>
							<a href="#" class="btn-more">
								<span class="glb-unskrew">GET STARTED NOW<i class="icon-find-out-more-icon"></i></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="search-block">
				<input type="search" class="glb-site-search" name="glb-search" placeholder="Search...">
				<button type="submit">
					<i class="icon-search-icon"></i>
				</button>
			</div>
			<div class="language">
				<form action="#">
					<fieldset>
						<select name="language" id="language">
							<option selected="selected">EN</option>
							<option>DE</option>
							<option >IT</option>
						</select>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row gradient"></div>
		<nav class="group">
			<ul id="menu" class="group main-menu">
				<li>
					<a href="#">Who we are</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">FC at a glance</a>
							<div class="description">
								<h2>Award-Winning Leader in Technology</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">Management</a>
							<div class="description">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">Ethics</a></li>
						<li><a href="#">Awards</a></li>
						<li><a href="#">History</a></li>
						<li>
							<a href="#">Partners</a>
							<div class="description">
								<h2>Duis aute irure dolor in reprehenderit</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">What we do</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">Overview</a>
							<div class="description">
								<h2>Award-Winning Leader in Technology</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">Technology</a>
							<div class="description">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">Modules</a></li>
						<li><a href="#">Academy</a></li>
						<li>
							<a href="#">Cloud</a>
							<div class="description">
								<h2>Duis aute irure dolor in reprehenderit</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Resources</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">Success Stories</a>
							<div class="description">
								<h2>Award-Winning Leader in Technology</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">News Page + Archive</a>
							<div class="description">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Social media</a></li>
						<li>
							<a href="#">White Papers</a>
							<div class="description">
								<h2>Duis aute irure dolor in reprehenderit</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Careers</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">DACH</a>
							<div class="description">
								<h2>DACH</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">UK</a>
							<div class="description">
								<h2>UK</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">PL</a></li>
						<li><a href="#">FR</a></li>
						<li><a href="#">US</a></li>
						<li><a href="#">CAN</a></li>
						<li>
							<a href="#">MX</a>
							<div class="description">
								<h2>MX</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Worldwide</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">DACH</a>
							<div class="description">
								<h2>DACH</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">UK</a>
							<div class="description">
								<h2>UK</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">PL</a></li>
						<li><a href="#">FR</a></li>
						<li><a href="#">US</a></li>
						<li><a href="#">CAN</a></li>
						<li>
							<a href="#">MX</a>
							<div class="description">
								<h2>MX</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">CN</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Press</a>
					<ul class="group main-sub-menu" style="!display: block;">
						<li>
							<a href="#">Company Videos</a>
							<div class="description" style="!display: block;">
								<h2>Lorem ipsum</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">Images</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">FC Academy</a>
					<ul class="group main-sub-menu">
						<li>
							<a href="#">Videos</a>
							<div class="description">
								<h2>DACH</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li>
							<a href="#">Content</a>
							<div class="description">
								<h2>UK</h2>
								<p>FORCAM is the ulimate manufacturing technology partner, helping clients increase their shop floor producivity.</p>
								<a href="#" class="read-more">
									Read more
									<span class="icon-read-more icon"></span>
								</a>
							</div>
						</li>
						<li><a href="#">Best Practice</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Schedule</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
</div>

<div class="container-fluid wrap-mobile-header">
	<header class="glb-mbl-header">
		<a href="/" class="logo"></a>
		<div class="row gradient"></div>
		<nav class="mbl-nav"></nav>
		<div class="search-block">
			<input type="search" class="glb-site-search" name="glb-search" placeholder="Search...">
			<button type="submit">
				<i class="icon-search-icon"></i>
			</button>
		</div>
		<div class="language">
			<form action="#">
				<fieldset>
					<select name="language" id="language">
						<option selected="selected">EN</option>
						<option>DE</option>
						<option >IT</option>
					</select>
				</fieldset>
			</form>
		</div>
	</header>
</div>

<script>
	$(function(){
		/*START IMPROVE MAIN SUB MENU*/
		$('.main-sub-menu>li').mouseenter(function(){
			if($(this).is(':hover')){
				var show1 = $(this).children(".description").outerHeight();
				var show2 = $(this).parent(".main-sub-menu").height();
				if( show2 >= show1 ){
					$(this).children(".description").css("bottom", "0");
				}else{
					$(this).parent(".main-sub-menu").height(show1);
				}
			}
		});
		$('.main-sub-menu>li').mouseleave(function(){
			$(this).parent(".main-sub-menu").removeAttr( 'style' );
		});
		/*END IMPROVE MAIN SUB MENU*/

		/*START INITIALIZE SLICKNAV*/
		$('#menu').slicknav({
			label:'',
			prependTo:'.mbl-nav',
			closeOnClick:'true',
			closedSymbol: '',
			openedSymbol: ''
		});
		/*END INITIALIZE SLICKNAV*/

		/*START INITIALIZE LANGUAGE SELECTMENU*/
		$( ".glb-header #language" ).selectmenu();
		$( ".glb-mbl-header #language" ).selectmenu();
		/*END INITIALIZE LANGUAGE SELECTMENU*/
	});
</script>