@media only screen and (max-width: 767px) {
.header {
    min-height: 130px;
}

.header-logo {
        padding-top: 26px;
        margin-left: 20px;
    }

.header-logo .iconp-forcam-logo {
    transform: scale(1.35,1.35);
    -webkit-transform: scale(1.35,1.35);
    -moz-transform: scale(1.35,1.35);
    background-position: 34px -160px;
    display: inline-block;
    width: 274px;
    height: 65px;
    display: none;
}

   .logo-mobile {
            background: url(../img/Logo_011215.png) no-repeat;
    /* background-size: cover; */
    width: 575px;
    height: 137px;
    display: inline-block;
    transform: scale(0.6, 0.62);
    -webkit-transform: scale(0.6, 0.62);
    -moz-transform: scale(0.6, 0.62);
    background-position: -14px -25px;
    z-index: 31;
    padding: 44px;
    /* padding-left: 200px; */
    position: absolute;
    top: 0px;
    left: -127px;
    }    

header .action-buttons .lang-menu ul {
    border-left: 0px;
    padding-left: 40px;
}


.lang-menu {
    padding-top: 58px !important;
    ul li:first-child:after {
            font-family: icomoon;
            content: "\e906";
            position: absolute;
            right: 2px;
            top: 2px;
            font-size: 13px;

    } li a {
            font-size: 24px;
        margin-left: -20px;
        &:after{
            
        }
    }    
    
} 

    .head-search, .head-contact {
        span { display: none; }
    }
    
.header-search, .mobile-menu {
    width: 33.33%;
    min-height: 130px;
    display: inline-block;
}

.lang-menu {
    width: 33.33%;
}

.header-search .icon-search-icon {
    top: 44%;
    font-size: 35px;
}

.mobile-menu .icon-Hamburger {
    font-size: 28px;
}

.mobile-menu i.x-left {
    font-size: 30px;
    &:after {
        right: -10px!important;
    }
}


/////////////////////////////
/* .mobile-menu { display: inline-block;
    width: 33%;
} */
    
    .head-contact { display: none; }
    
.grad {
    min-height: 14px;
}

    .slider {
        img {
            width: 80%;
        } 
    }

    .slider {
        .first-half {
            display: none;
        }

         .mobile-button {
        display: inline-block;
    }
    }

    
.dropdown-mobile {
    top: 128px;
}


    .latest-news .latest-news-item:nth-child(2) {
        display: none;
    }

    .excerpt p {
        display: none;
    }







   .our-team {
        background: url(../img/FRANZ_GRUBER_CEO_&_FOUNDER.png) no-repeat;
    }
   
    
    .awards-clients {
        .awards {
            
          .products{
                //display: none;
                border-top: 1px solid rgba(37,92,159,0.8);
                padding: 0;// !important;
                div {
                    display: block;
                    padding: 0px;// !important;
                    border-left: 0px;
                    border-bottom: 1px solid rgba(37,92,159,0.8);
                    min-height: 200px;
                    max-height: 610px;// !important;
                    &:first-child {
                        padding: 0;// !important;
                    }
                    h4, p { margin-left: 40px; }
                }
            }
        }
    }    
    
    
    .clients {
        display: block;
        background-position: center;
        //min-height: 502px;
    }

    .clients .clients-banner {

    }

    
    footer .container-wraper {
        margin: 0;
        padding: 0 20px;
    }

    footer nav dl, footer nav ul {
        margin-top: 60px;
        //margin-right: 20px;
        margin-right: 0;
    }

    footer .forcam #footer-logo {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    margin: 86px 0 0 0px;
    background-position: 0px -171px;
    display: inline-block;
    width: 274px;
    height: 53px;
}

    footer .forcam .f-copy {
    position: absolute;
    top: 90px;
    color: #6c7283;
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    max-width: 260px;
    margin-left: 30px;
}

footer .forcam .footer-text {
    color: #6c7283;
    margin: 64px 0 0 32px;
    font-size: 28px;
    line-height: 43px;
    max-width: 700px;
}

footer nav dl dt {
    margin-top: 57px;
}

footer nav .container-wraper {
       /*  margin-left: 40px;
           margin-right: 40px; */

}

footer nav dl dt a {
    font-size: 28px;
}

/* footer nav.links-list dl:nth-child(1), footer nav.links-list dl:nth-child(2) {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
} */

    footer nav ul.social-list {
        margin: 108px 0;
        width: 100%;
        li {
            margin-right: 54px;
            a i {
                font-size: 45px;
            }

        } 
    } 

}


@media only screen and (max-width: 580px) {
    
    .clients .clients-banner .borg-warner {
        top: 40%;
        right: 15%;
    }

    footer .forcam-menu .forcam .footer-text {
        //margin: 125px 0 0 0px;
        font-size: 20px;
    }

    footer .forcam-menu .forcam .f-copy {
        //position: relative;
        //margin-left: 0;
        font-size: 20px;
        //top: 60px;
    }

    footer nav ul.social-list li a i {
        font-size: 30px;
    }
}

