/*@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;*/


/* line 240,.iconp/*.png */
.iconp-sprite, .iconp-awards.iconp, .iconp-client.iconp, .iconp-client-logo-borg-warner, .iconp-contact.iconp, .iconp-facebook, .iconp-find-out-more.iconp, .iconp-forcam-logo, .iconp-google_plus, .iconp-language.iconp, .iconp-linkedin, .iconp-news.iconp, .iconp-read-more, .iconp-search.iconp, .iconp-share.iconp-bright, .iconp-share.iconp, .iconp-slider-elipse1, .iconp-slider-elipse2, .iconp-slider-elipse3, .iconp-slider-elipse4, .iconp-slider-elipse5, .iconp-twitter.iconp, .iconp-twitter, .iconp-view-all-backward, .iconp-view-all-forward, .iconp-youtube {
  background-image: url('../img/icon-sbba44d2046.png');
  background-repeat: no-repeat;
}

/*--------------------NEW------------------*/


/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-awards-iconp {
  background-position: 0 0;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-client-iconp {
  background-position: 0 -40px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-client-logo-borg-warner {
  background-position: 0 -70px;
    height: 41px;
    width: 330px;
    display: inline-block;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-contact-iconp {
  background-position: 0 -111px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-facebook {
  background-position: 0 -135px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-find-out-more-iconp {
  background-position: 0 -159px;
    display: inline-block;
    width: 7px;
    height: 12px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-forcam-logo {
  background-position: 0 -171px;
    display: inline-block;
    width: 240px;
    height: 54px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-google_plus {
  background-position: 0 -225px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-language-iconp {
  background-position: 0 -249px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-linkedin {
  background-position: 0 -256px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-news-iconp {
  background-position: 0 -280px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-read-more {
  background-position: 0 -306px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-search-iconp {
  background-position: 0 -318px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-share-iconp-bright {
  background-position: 0 -338px;
    height: 14px;
    widows: 14px;
    display: inline-block;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-share-iconp {
  background-position: 0 -352px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-slider-elipse1 {
  background-position: 0 -366px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-slider-elipse2 {
  background-position: 0 -374px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-slider-elipse3 {
  background-position: 0 -382px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-slider-elipse4 {
  background-position: 0 -390px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-slider-elipse5 {
  background-position: 0 -398px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-twitter-iconp {
  background-position: 0 -406px;
    width: 18px;
    height: 18px;
    display: inline-block;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-twitter {
  background-position: 0 -421px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-view-all-backward {
  background-position: 0 -442px;
  width: 7px;
  height: 12px;
display: inline-block;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-view-all-forward {
  background-position: 0 -454px;
    width: 7px;
    height: 12px;
    display: inline-block;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.iconp-youtube {
  background-position: 0 -466px;
}

