/*@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;*/


/* line 240, icon/*.png */
.icon-sprite, .icon-awards-icon, .icon-client-icon, .icon-client-logo-borg-warner, .icon-contact-icon, .icon-facebook, .icon-find-out-more-icon, .icon-forcam-logo, .icon-google_plus, .icon-language-icon, .icon-linkedin, .icon-news-icon, .icon-read-more, .icon-search-icon, .icon-share-icon-bright, .icon-share-icon, .icon-slider-elipse1, .icon-slider-elipse2, .icon-slider-elipse3, .icon-slider-elipse4, .icon-slider-elipse5, .icon-twitter-icon, .icon-twitter, .icon-view-all-backward, .icon-view-all-forward, .icon-youtube {
  background-image: url('../img/icon-sbba44d2046.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-awards-icon {
  background-position: 0 0;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-client-icon {
  background-position: 0 -40px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-client-logo-borg-warner {
  background-position: 0 -70px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contact-icon {
  background-position: 0 -111px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -135px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-find-out-more-icon {
  background-position: 0 -159px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-forcam-logo {
  background-position: 0 -171px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-google_plus {
  background-position: 0 -225px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-language-icon {
  background-position: 0 -249px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-linkedin {
  background-position: 0 -256px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-news-icon {
  background-position: 0 -280px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-read-more {
  background-position: 0 -306px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search-icon {
  background-position: 0 -318px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-share-icon-bright {
  background-position: 0 -338px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-share-icon {
  background-position: 0 -352px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-slider-elipse1 {
  background-position: 0 -366px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-slider-elipse2 {
  background-position: 0 -374px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-slider-elipse3 {
  background-position: 0 -382px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-slider-elipse4 {
  background-position: 0 -390px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-slider-elipse5 {
  background-position: 0 -398px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter-icon {
  background-position: 0 -406px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -421px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-view-all-backward {
  background-position: 0 -442px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-view-all-forward {
  background-position: 0 -454px;
}

/* line 84, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-youtube {
  background-position: 0 -466px;
}